
pycache/
*.pyc
*.pyo
*.pyd

env/
venv/

*.log
logs/
debug.log

htmlcov/
.coverage
*.cover
.coverage.

tests/pycache/
tests/.pyc

.github/workflows/.log

.vscode/
.idea/
*.iml

.dockerignore
docker-compose.override.yml

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/

.ipynb_checkpoints/

.DS_Store
Thumbs.db